

/* プレイ画面の中央寄せをする。いろいろなやり方があるが今回はmarginを使った方法で行う。　*/
.container {
    width: 500px;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #005400;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.lineup {
    display: flex;
    justify-content: space-around;
}

.button {
    color: #000000;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 5px 10px;
}